<%- include('../partials/header') %>
</head>

<%- include('../partials/navbar') %>

<h3 class="text-center mt-4">Create Review</h3>

<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <form action="/review/create" method="post">
            <div class="mb-3">
                <label for="productId" class="form-label">Product Name</label>
                <select class="form-select" name="productId" id="productId" aria-label="Default select example" required>
                    <option value="" selected>-- Select product --</option>
                    <% content.productList.forEach( product => { %>
                        <option value="<%= product.id %>"><%= product.title %></option>
                    <% }) %>
                </select>
            </div>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="number" class="form-control" name="rating" id="rating" min="1" max="5" placeholder="0" required>
            </div>
            <div class="mb-3">
                <label for="review" class="form-label">Review</label>
                <textarea class="form-control" name="review" id="review" rows="3"></textarea>
            </div>
            <div class="mb-3 text-end">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>